[submodule "Assets/Plugins/smflite"]
	path = Assets/Plugins/smflite
	url = https://github.com/keijiro/smflite.git
[submodule "Assets/Plugins/Mathfs"]
	path = Assets/Plugins/Mathfs
	url = git@github.com:FreyaHolmer/Mathfs.git
